/*styles*/

:root {
    --background-color-1: #f7f2da;
    --background-color-2: #f7d397;
    --background-color-3: rgb(121, 134, 90);
    --background-color-4: rgba(167, 167, 95, 0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .library-page {
    padding: 20px;
    background-color: var(--background-color-1);
  }

  .header {
    background: url(./images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 345px;
    height: 10vh;
    background-size: cover;
  }

  .new-book-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 300px;
    background-color: var(--background-color-1);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 30px 0;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }

.open-new-form {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  label {
    position: relative;
    width: 12rem;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
  }

  form input[type="checkbox"] {
    padding: 10px;
    width: 20px;
  }

button {
  padding: 10px;
  background-color: var(--background-color-3);
  color: var(--background-color-1);
  margin: 10px;
}

  .title {
    padding: 5px 10px;
    background-color: var(--background-color-4);
    color: white;
  }

  .banner {
    height: 8px;
    width: 100%;
    margin: 5px 0 0;
    background-color: var(--background-color-3);
  }
  .container {
    background-color: var(--background-color-2);
    border:  solid var(--background-color-4) 5px;
  }

  h2 {
    padding: 20px;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    gap: 10px;
    justify-items: center;
  }

  .card {
    height: 200px;
    width: 200px;
    padding: 20px;
    background-color: var(--background-color-1);
    border:  solid var(--background-color-3) 5px;
    text-align: center;
    box-shadow: 2px 2px 7px 1px var(--background-color-4);
}
  img {
    height: 20px;
    width: 20px;
  }


  .top {
    height: 350px;
  }

  .bottom {
    height: 350px;
  }