/*styles*/

:root {
    --background-color-1: #f7f2da;
    --background-color-2: #f7d397;
    --background-color-3: rgb(121, 134, 90);
    --background-color-4: rgba(167, 167, 95, 0.8);
    --background-color-5: #fc815b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.library-page {
    padding: 10px;
    background-color: var(--background-color-1);
    height: 100vh;
  }

.header {
    background: url(./images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 25vh;
    background-size: cover;
    padding: 20px;
  }

.new-form-btn {
    width: 100px;
  }

.new-book-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 250px;
    background-color: var(--background-color-1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 30px 0;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }

.open-new-form {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

label {
    position: relative;
    width: 12rem;
    margin-bottom: 5px;
  }
  
input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
  }

.checkbox-div {
  margin: auto;
}

button {
  background-color: var(--background-color-3);
  color: var(--background-color-1);
  margin: 10px;
  padding: 12px 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 64px;
  width: 80px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s background-color;
}

.title {
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--background-color-4);
  color: white;
  }

.banner {
  height: 8px;
  width: 100%;
  min-width: 300px;
  margin: 5px 0 0;
  background-color: var(--background-color-3);
  }

h2 {
  padding: 10px;
  text-align: center;
  width: 100%;
  min-width: 300px;
  }

.books-container {
  background-color: var(--background-color-2);
  border:  solid var(--background-color-4) 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  justify-items: center;
  padding: 20px;
  min-height: 300px;
  min-width: 300px;
  }

/*Each Book Styling*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 200px;
  padding: 20px;
  background-color: var(--background-color-1);
  border:  solid var(--background-color-3) 5px;
  box-shadow: 2px 2px 7px 1px var(--background-color-4);
}

.book-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.number-pages{
  margin-top: 16px;
  margin-bottom: 16px;
}

.book-card-buttons-container{
  display : flex;
}

.unread-button{
  padding: 12px 10px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--background-color-5);
  border: none;
  border-radius: 64px;
  width: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s background-color;
}

.read-button{
  padding: 12px 10px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--background-color-3);
  border: none;
  border-radius: 64px;
  width: 60px;
  transition: 0.2s background-color;
}

/*Remove book*/
.book-card-remove-button{
  background-color: var(--background-color-4);
  padding: 12px 10px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 64px;
  width: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s background-color;
}