/*styles*/

:root {
    --background-color-1: #f7f2da;
    --background-color-2: #f7d397;
    --background-color-3: rgb(121, 134, 90);
    --background-color-4: rgba(167, 167, 95, 0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .library-page {
    padding: 20px;
    background-color: var(--background-color-1);
    height: 100vh;
  }

  .header {
    background: url(./images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 345px;
    height: 10vh;
    background-size: cover;
  }

  .form-div {
    width: 300px;
    border-radius: 10px;
  }
  
  .new-book-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--background-color-1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 30px 0;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }

.open-new-form {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  label {
    position: relative;
    width: 12rem;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
  }

/*.checkbox-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/
  form input[type="checkbox"] {
    padding: 10px;
    width: 20px;
    margin: 5px;
  }

button {
  padding: 10px;
  background-color: var(--background-color-3);
  color: var(--background-color-1);
  margin: 10px;
}

.title {
  padding: 5px 10px;
  background-color: var(--background-color-4);
  color: white;
  }

.banner {
  height: 8px;
  width: 100%;
  margin: 5px 0 0;
  background-color: var(--background-color-3);
  }

h2 {
  padding: 20px;
  text-align: center;
  }

.books-container {
  background-color: var(--background-color-2);
  border:  solid var(--background-color-4) 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  gap: 10px;
  justify-items: center;
  }

.card {
  height: 200px;
  width: 200px;
  padding: 20px;
  background-color: var(--background-color-1);
  border:  solid var(--background-color-3) 5px;
  text-align: center;
  box-shadow: 2px 2px 7px 1px var(--background-color-4);
}
/*
.book-title{
  font-size: 24px;
  font-weight: bold;
}
.number-pages{
  margin-top: 16px;
  margin-bottom: 16px;
}

.book-card-buttons-container{
  display : flex;
  align-items: center;
  column-gap: 16px;
}

.unread-button{
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #E9C4C4;
  border: none;
  border-radius: 64px;
  width: 120px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s background-color;
}

.read-button{
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #BBDE9E;
  border: none;
  border-radius: 64px;
  width: 120px;
  transition: 0.2s background-color;
}

.book-card-remove-button{
  background-color: #D9D9D9;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 64px;
  width: 120px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s background-color;
}*/